server/orchestrator/n8n_AI_Model_HealthCheck.json
{"updatedAt":"2026-04-22T00:23:25.744Z","createdAt":"2026-04-21T23:45:43.349Z","id":"nju4OqM0yMIbLRpM","name":"AI_Model_HealthCheck","description":null,"active":true,"isArchived":false,"nodes":[{"id":"trigger","name":"DailyTrigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 9 * * *"}]}}},{"id":"healthcheck","name":"CheckAllModels","type":"n8n-nodes-base.code","typeVersion":2,"position":[260,0],"onError":"continueRegularOutput","parameters":{"jsCode":"\n// AI 모델 헬스체크 — 각 모델에 tiny prompt 전송, 결과 수집\nconst MODELS = [\n  {\n    \"id\": \"groq-llama31-8b\",\n    \"provider\": \"groq\",\n    \"apiModel\": \"llama-3.1-8b-instant\",\n    \"baseUrl\": \"https://api.groq.com/openai/v1\",\n    \"keyEnv\": \"GROQ_API_KEY\"\n  },\n  {\n    \"id\": \"cerebras-llama31-8b\",\n    \"provider\": \"cerebras\",\n    \"apiModel\": \"llama3.1-8b\",\n    \"baseUrl\": \"https://api.cerebras.ai/v1\",\n    \"keyEnv\": \"CEREBRAS_API_KEY\"\n  },\n  {\n    \"id\": \"or-gemini-flash-lite\",\n    \"provider\": \"openrouter\",\n    \"apiModel\": \"google/gemini-2.0-flash-lite-001\",\n    \"baseUrl\": \"https://openrouter.ai/api/v1\",\n    \"keyEnv\": \"OPENROUTER_API_KEY\"\n  },\n  {\n    \"id\": \"or-qwen3-plus\",\n    \"provider\": \"openrouter\",\n    \"apiModel\": \"qwen/qwen3.6-plus\",\n    \"baseUrl\": \"https://openrouter.ai/api/v1\",\n    \"keyEnv\": \"OPENROUTER_API_KEY\"\n  },\n  {\n    \"id\": \"or-step-flash\",\n    \"provider\": \"openrouter\",\n    \"apiModel\": \"stepfun/step-3.5-flash\",\n    \"baseUrl\": \"https://openrouter.ai/api/v1\",\n    \"keyEnv\": \"OPENROUTER_API_KEY\"\n  },\n  {\n    \"id\": \"or-trinity-large\",\n    \"provider\": \"openrouter\",\n    \"apiModel\": \"ai21/jamba-large-1.7\",\n    \"baseUrl\": \"https://openrouter.ai/api/v1\",\n    \"keyEnv\": \"OPENROUTER_API_KEY\"\n  },\n  {\n    \"id\": \"or-gemini-flash-exp\",\n    \"provider\": \"openrouter\",\n    \"apiModel\": \"arcee-ai/trinity-large-preview:free\",\n    \"baseUrl\": \"https://openrouter.ai/api/v1\",\n    \"keyEnv\": \"OPENROUTER_API_KEY\"\n  },\n  {\n    \"id\": \"or-free\",\n    \"provider\": \"openrouter\",\n    \"apiModel\": \"openrouter/auto\",\n    \"baseUrl\": \"https://openrouter.ai/api/v1\",\n    \"keyEnv\": \"OPENROUTER_API_KEY\"\n  }\n];\n\nconst TEST_PROMPT = [{ role: 'user', content: 'Reply with exactly: ok' }];\n\nasync function testModel(m) {\n  const key = $vars[m.keyEnv] || '';\n  if (!key) return { modelId: m.id, status: 'error', latencyMs: null, errorMsg: 'API KEY 없음' };\n\n  const start = Date.now();\n  try {\n    const res = await fetch(m.baseUrl + '/chat/completions', {\n      method: 'POST',\n      headers: {\n        'Content-Type': 'application/json',\n        'Authorization': 'Bearer ' + key,\n      },\n      body: JSON.stringify({\n        model: m.apiModel,\n        messages: TEST_PROMPT,\n        max_tokens: 5,\n        temperature: 0,\n      }),\n      signal: AbortSignal.timeout(15000),\n    });\n    const latencyMs = Date.now() - start;\n    if (!res.ok) {\n      const errText = await res.text().catch(() => res.status.toString());\n      return { modelId: m.id, status: 'error', latencyMs, errorMsg: errText.slice(0, 120) };\n    }\n    await res.json(); // 응답 소비\n    return { modelId: m.id, status: 'ok', latencyMs, errorMsg: '' };\n  } catch (e) {\n    return { modelId: m.id, status: 'error', latencyMs: Date.now() - start, errorMsg: String(e).slice(0, 120) };\n  }\n}\n\nconst checkedAt = new Date().toISOString();\nconst results = [];\nfor (const m of MODELS) {\n  const r = await testModel(m);\n  results.push({ json: { ...r, checkedAt } });\n}\nreturn results;\n"}},{"id":"sheets","name":"WriteModelHealth","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[520,0],"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"19n-FIkuZHHAnEIoBo2MrCaQhFcifFDZFZRJqL0KYseU","mode":"id"},"sheetName":{"__rl":true,"value":"model_health","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"model_id":"={{ $json[\"modelId\"] }}","status":"={{ $json[\"status\"] }}","latency_ms":"={{ $json[\"latencyMs\"] }}","checked_at":"={{ $json[\"checkedAt\"] }}","error_msg":"={{ $json[\"errorMsg\"] }}"},"matchingColumns":["model_id"],"schema":[{"id":"model_id","displayName":"model_id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"latency_ms","displayName":"latency_ms","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"checked_at","displayName":"checked_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"error_msg","displayName":"error_msg","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false}]}},"credentials":{"googleSheetsOAuth2Api":{"id":"1","name":"Google Sheets"}}}],"connections":{"DailyTrigger":{"main":[[{"node":"CheckAllModels","type":"main","index":0}]]},"CheckAllModels":{"main":[[{"node":"WriteModelHealth","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:DailyTrigger":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"98469905-c7f6-43db-a203-672adcd17548","activeVersionId":"98469905-c7f6-43db-a203-672adcd17548","versionCounter":19,"triggerCount":1,"shared":[{"updatedAt":"2026-04-21T23:45:43.357Z","createdAt":"2026-04-21T23:45:43.357Z","role":"workflow:owner","workflowId":"nju4OqM0yMIbLRpM","projectId":"NTVpAXVEQgdBqwAm","project":{"updatedAt":"2026-04-16T03:47:23.106Z","createdAt":"2026-04-16T03:44:10.492Z","id":"NTVpAXVEQgdBqwAm","name":"kang seoungdo <seoungdo@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"66268999-f4f7-4e0e-a866-4b916c2a6685"}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-22T00:23:25.755Z","createdAt":"2026-04-22T00:23:25.755Z","versionId":"98469905-c7f6-43db-a203-672adcd17548","workflowId":"nju4OqM0yMIbLRpM","nodes":[{"id":"trigger","name":"DailyTrigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 9 * * *"}]}}},{"id":"healthcheck","name":"CheckAllModels","type":"n8n-nodes-base.code","typeVersion":2,"position":[260,0],"onError":"continueRegularOutput","parameters":{"jsCode":"\n// AI 모델 헬스체크 — 각 모델에 tiny prompt 전송, 결과 수집\nconst MODELS = [\n  {\n    \"id\": \"groq-llama31-8b\",\n    \"provider\": \"groq\",\n    \"apiModel\": \"llama-3.1-8b-instant\",\n    \"baseUrl\": \"https://api.groq.com/openai/v1\",\n    \"keyEnv\": \"GROQ_API_KEY\"\n  },\n  {\n    \"id\": \"cerebras-llama31-8b\",\n    \"provider\": \"cerebras\",\n    \"apiModel\": \"llama3.1-8b\",\n    \"baseUrl\": \"https://api.cerebras.ai/v1\",\n    \"keyEnv\": \"CEREBRAS_API_KEY\"\n  },\n  {\n    \"id\": \"or-gemini-flash-lite\",\n    \"provider\": \"openrouter\",\n    \"apiModel\": \"google/gemini-2.0-flash-lite-001\",\n    \"baseUrl\": \"https://openrouter.ai/api/v1\",\n    \"keyEnv\": \"OPENROUTER_API_KEY\"\n  },\n  {\n    \"id\": \"or-qwen3-plus\",\n    \"provider\": \"openrouter\",\n    \"apiModel\": \"qwen/qwen3.6-plus\",\n    \"baseUrl\": \"https://openrouter.ai/api/v1\",\n    \"keyEnv\": \"OPENROUTER_API_KEY\"\n  },\n  {\n    \"id\": \"or-step-flash\",\n    \"provider\": \"openrouter\",\n    \"apiModel\": \"stepfun/step-3.5-flash\",\n    \"baseUrl\": \"https://openrouter.ai/api/v1\",\n    \"keyEnv\": \"OPENROUTER_API_KEY\"\n  },\n  {\n    \"id\": \"or-trinity-large\",\n    \"provider\": \"openrouter\",\n    \"apiModel\": \"ai21/jamba-large-1.7\",\n    \"baseUrl\": \"https://openrouter.ai/api/v1\",\n    \"keyEnv\": \"OPENROUTER_API_KEY\"\n  },\n  {\n    \"id\": \"or-gemini-flash-exp\",\n    \"provider\": \"openrouter\",\n    \"apiModel\": \"arcee-ai/trinity-large-preview:free\",\n    \"baseUrl\": \"https://openrouter.ai/api/v1\",\n    \"keyEnv\": \"OPENROUTER_API_KEY\"\n  },\n  {\n    \"id\": \"or-free\",\n    \"provider\": \"openrouter\",\n    \"apiModel\": \"openrouter/auto\",\n    \"baseUrl\": \"https://openrouter.ai/api/v1\",\n    \"keyEnv\": \"OPENROUTER_API_KEY\"\n  }\n];\n\nconst TEST_PROMPT = [{ role: 'user', content: 'Reply with exactly: ok' }];\n\nasync function testModel(m) {\n  const key = $vars[m.keyEnv] || '';\n  if (!key) return { modelId: m.id, status: 'error', latencyMs: null, errorMsg: 'API KEY 없음' };\n\n  const start = Date.now();\n  try {\n    const res = await fetch(m.baseUrl + '/chat/completions', {\n      method: 'POST',\n      headers: {\n        'Content-Type': 'application/json',\n        'Authorization': 'Bearer ' + key,\n      },\n      body: JSON.stringify({\n        model: m.apiModel,\n        messages: TEST_PROMPT,\n        max_tokens: 5,\n        temperature: 0,\n      }),\n      signal: AbortSignal.timeout(15000),\n    });\n    const latencyMs = Date.now() - start;\n    if (!res.ok) {\n      const errText = await res.text().catch(() => res.status.toString());\n      return { modelId: m.id, status: 'error', latencyMs, errorMsg: errText.slice(0, 120) };\n    }\n    await res.json(); // 응답 소비\n    return { modelId: m.id, status: 'ok', latencyMs, errorMsg: '' };\n  } catch (e) {\n    return { modelId: m.id, status: 'error', latencyMs: Date.now() - start, errorMsg: String(e).slice(0, 120) };\n  }\n}\n\nconst checkedAt = new Date().toISOString();\nconst results = [];\nfor (const m of MODELS) {\n  const r = await testModel(m);\n  results.push({ json: { ...r, checkedAt } });\n}\nreturn results;\n"}},{"id":"sheets","name":"WriteModelHealth","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[520,0],"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"19n-FIkuZHHAnEIoBo2MrCaQhFcifFDZFZRJqL0KYseU","mode":"id"},"sheetName":{"__rl":true,"value":"model_health","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"model_id":"={{ $json[\"modelId\"] }}","status":"={{ $json[\"status\"] }}","latency_ms":"={{ $json[\"latencyMs\"] }}","checked_at":"={{ $json[\"checkedAt\"] }}","error_msg":"={{ $json[\"errorMsg\"] }}"},"matchingColumns":["model_id"],"schema":[{"id":"model_id","displayName":"model_id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"latency_ms","displayName":"latency_ms","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"checked_at","displayName":"checked_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"error_msg","displayName":"error_msg","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false}]}},"credentials":{"googleSheetsOAuth2Api":{"id":"1","name":"Google Sheets"}}}],"connections":{"DailyTrigger":{"main":[[{"node":"CheckAllModels","type":"main","index":0}]]},"CheckAllModels":{"main":[[{"node":"WriteModelHealth","type":"main","index":0}]]}},"authors":"kang seoungdo","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-22T00:23:25.815Z","id":132,"workflowId":"nju4OqM0yMIbLRpM","versionId":"98469905-c7f6-43db-a203-672adcd17548","event":"activated","userId":"66268999-f4f7-4e0e-a866-4b916c2a6685"},{"createdAt":"2026-04-22T00:23:25.804Z","id":131,"workflowId":"nju4OqM0yMIbLRpM","versionId":"98469905-c7f6-43db-a203-672adcd17548","event":"deactivated","userId":"66268999-f4f7-4e0e-a866-4b916c2a6685"}]}}