server/orchestrator/n8n_HealthchkAutoSwitch01.json
{"updatedAt":"2026-04-22T05:20:16.000Z","createdAt":"2026-04-22T05:17:49.532Z","id":"HealthchkAutoSwitch01","name":"AI Model Healthcheck & Auto-Switch","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":10}]}},"id":"schedule-trigger","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,300]},{"parameters":{"jsCode":"// 헬스체크 대상 모델 — 각 API에 ping 테스트\nconst CEREBRAS_KEY = $env('CEREBRAS_API_KEY');\nconst OR_KEY = $env('OPENROUTER_API_KEY');\n\nreturn [\n  {\n    json: {\n      name: 'cerebras',\n      url: 'https://api.cerebras.ai/v1/chat/completions',\n      model: 'llama3.1-8b',\n      auth: `Bearer ${CEREBRAS_KEY}`,\n      referer: ''\n    }\n  },\n  {\n    json: {\n      name: 'or-gemini',\n      url: 'https://openrouter.ai/api/v1/chat/completions',\n      model: 'google/gemini-2.0-flash-lite-001',\n      auth: `Bearer ${OR_KEY}`,\n      referer: 'https://career-aptitude-final.web.app'\n    }\n  },\n  {\n    json: {\n      name: 'or-step',\n      url: 'https://openrouter.ai/api/v1/chat/completions',\n      model: 'stepfun/step-3.5-flash',\n      auth: `Bearer ${OR_KEY}`,\n      referer: 'https://career-aptitude-final.web.app'\n    }\n  }\n];"},"id":"model-list","name":"Model List","type":"n8n-nodes-base.code","typeVersion":2,"position":[220,300]},{"parameters":{"method":"POST","url":"={{ $json.url }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $json.auth }}"},{"name":"HTTP-Referer","value":"={{ $json.referer }}"}]},"sendBody":true,"contentType":"json","body":{"model":"={{ $json.model }}","max_tokens":5,"messages":[{"role":"user","content":"hi"}]},"options":{"timeout":8000,"response":{"response":{"neverError":true}}}},"id":"ping-request","name":"Ping Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[440,300]},{"parameters":{"jsCode":"// 응답 분석: 200 + choices 있으면 alive\nconst results = [];\n\nfor (const item of $input.all()) {\n  const name = item.json.name || 'unknown';\n  const statusCode = item.json.$response?.statusCode ?? 0;\n  const hasContent = !!(item.json.choices?.[0]?.message?.content);\n  const alive = (statusCode >= 200 && statusCode < 300) && hasContent;\n  results.push({ name, alive, statusCode });\n}\n\n// 폴백 모델 결정 로직\nconst dead = results.filter(r => !r.alive).map(r => r.name);\nconst config = {};\n\n// cerebras 죽으면 or_model 우선 사용 (or_model 필드는 유지)\nif (!dead.includes('cerebras')) {\n  config.cerebras_model = 'llama3.1-8b';\n} else {\n  config.cerebras_model = dead.includes('or-gemini') ? 'stepfun/step-3.5-flash' : 'google/gemini-2.0-flash-lite-001';\n  // cerebras가 죽으면 cerebras_model을 fallback용 OR 모델로 덮어씌워\n  // 실제로는 getModelConfig()가 cerebras_model을 Cerebras API에만 쓰므로\n  // or_model/or_model_2 만 변경하는 것으로 충분\n  config.cerebras_model = 'llama3.1-8b'; // cerebras 자체 모델명은 고정\n}\n\nif (dead.includes('or-gemini') && !dead.includes('or-step')) {\n  config.or_model = 'stepfun/step-3.5-flash';\n} else if (!dead.includes('or-gemini')) {\n  config.or_model = 'google/gemini-2.0-flash-lite-001';\n} else {\n  config.or_model = 'openrouter/auto'; // 둘 다 죽으면 auto\n}\n\nif (dead.includes('or-step')) {\n  config.or_model_2 = 'openrouter/auto';\n} else {\n  config.or_model_2 = 'stepfun/step-3.5-flash';\n}\n\nreturn [{ json: { dead, config, needsUpdate: dead.length > 0, results } }];"},"id":"analyze","name":"Analyze & Decide","type":"n8n-nodes-base.code","typeVersion":2,"position":[660,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true},"conditions":[{"leftValue":"={{ $json.needsUpdate }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}]}},"id":"needs-update","name":"Needs Update?","type":"n8n-nodes-base.if","typeVersion":2,"position":[880,300]},{"parameters":{"method":"POST","url":"https://us-central1-career-aptitude-final.cloudfunctions.net/orchestratorUpdate","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","body":{"secret":"n8n-orch-2026","config":"={{ $json.config }}"},"options":{"timeout":10000}},"id":"update-config","name":"Update Orchestrator Config","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1100,200]},{"parameters":{"jsCode":"const dead = $json.dead;\nconst config = $json.config;\nconsole.log(`[AI Healthcheck] 모델 장애 감지: ${dead.join(', ')} → 폴백 적용:`, config);\nreturn [{ json: { status: 'switched', dead, config } }];"},"id":"log-switch","name":"Log Switch","type":"n8n-nodes-base.code","typeVersion":2,"position":[1320,200]},{"parameters":{"jsCode":"console.log('[AI Healthcheck] 모든 모델 정상 — 변경 없음');\nreturn [{ json: { status: 'all_healthy', checkedAt: new Date().toISOString() } }];"},"id":"log-healthy","name":"Log Healthy","type":"n8n-nodes-base.code","typeVersion":2,"position":[1100,420]}],"connections":{"Schedule Trigger":{"main":[[{"node":"Model List","type":"main","index":0}]]},"Model List":{"main":[[{"node":"Ping Request","type":"main","index":0}]]},"Ping Request":{"main":[[{"node":"Analyze & Decide","type":"main","index":0}]]},"Analyze & Decide":{"main":[[{"node":"Needs Update?","type":"main","index":0}]]},"Needs Update?":{"main":[[{"node":"Update Orchestrator Config","type":"main","index":0}],[{"node":"Log Healthy","type":"main","index":0}]]},"Update Orchestrator Config":{"main":[[{"node":"Log Switch","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"description":"10분마다 Cerebras/OpenRouter 헬스체크. 장애 감지 시 career-aptitude-final의 orchestratorUpdate 엔드포인트를 호출하여 Firestore model_config 자동 갱신.","endpoint":"https://us-central1-career-aptitude-final.cloudfunctions.net/orchestratorUpdate","secret":"n8n-orch-2026","envRequired":["CEREBRAS_API_KEY","OPENROUTER_API_KEY"]},"pinData":null,"versionId":"f986fcbe-c26c-4c75-9127-0f1f5de3ed58","activeVersionId":"f986fcbe-c26c-4c75-9127-0f1f5de3ed58","versionCounter":13,"triggerCount":1,"shared":[{"updatedAt":"2026-04-22T05:17:49.537Z","createdAt":"2026-04-22T05:17:49.537Z","role":"workflow:owner","workflowId":"HealthchkAutoSwitch01","projectId":"NTVpAXVEQgdBqwAm","project":{"updatedAt":"2026-04-16T03:47:23.106Z","createdAt":"2026-04-16T03:44:10.492Z","id":"NTVpAXVEQgdBqwAm","name":"kang seoungdo <seoungdo@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"66268999-f4f7-4e0e-a866-4b916c2a6685"}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-22T05:17:49.539Z","createdAt":"2026-04-22T05:17:49.539Z","versionId":"f986fcbe-c26c-4c75-9127-0f1f5de3ed58","workflowId":"HealthchkAutoSwitch01","nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":10}]}},"id":"schedule-trigger","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,300]},{"parameters":{"jsCode":"// 헬스체크 대상 모델 — 각 API에 ping 테스트\nconst CEREBRAS_KEY = $env('CEREBRAS_API_KEY');\nconst OR_KEY = $env('OPENROUTER_API_KEY');\n\nreturn [\n  {\n    json: {\n      name: 'cerebras',\n      url: 'https://api.cerebras.ai/v1/chat/completions',\n      model: 'llama3.1-8b',\n      auth: `Bearer ${CEREBRAS_KEY}`,\n      referer: ''\n    }\n  },\n  {\n    json: {\n      name: 'or-gemini',\n      url: 'https://openrouter.ai/api/v1/chat/completions',\n      model: 'google/gemini-2.0-flash-lite-001',\n      auth: `Bearer ${OR_KEY}`,\n      referer: 'https://career-aptitude-final.web.app'\n    }\n  },\n  {\n    json: {\n      name: 'or-step',\n      url: 'https://openrouter.ai/api/v1/chat/completions',\n      model: 'stepfun/step-3.5-flash',\n      auth: `Bearer ${OR_KEY}`,\n      referer: 'https://career-aptitude-final.web.app'\n    }\n  }\n];"},"id":"model-list","name":"Model List","type":"n8n-nodes-base.code","typeVersion":2,"position":[220,300]},{"parameters":{"method":"POST","url":"={{ $json.url }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $json.auth }}"},{"name":"HTTP-Referer","value":"={{ $json.referer }}"}]},"sendBody":true,"contentType":"json","body":{"model":"={{ $json.model }}","max_tokens":5,"messages":[{"role":"user","content":"hi"}]},"options":{"timeout":8000,"response":{"response":{"neverError":true}}}},"id":"ping-request","name":"Ping Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[440,300]},{"parameters":{"jsCode":"// 응답 분석: 200 + choices 있으면 alive\nconst results = [];\n\nfor (const item of $input.all()) {\n  const name = item.json.name || 'unknown';\n  const statusCode = item.json.$response?.statusCode ?? 0;\n  const hasContent = !!(item.json.choices?.[0]?.message?.content);\n  const alive = (statusCode >= 200 && statusCode < 300) && hasContent;\n  results.push({ name, alive, statusCode });\n}\n\n// 폴백 모델 결정 로직\nconst dead = results.filter(r => !r.alive).map(r => r.name);\nconst config = {};\n\n// cerebras 죽으면 or_model 우선 사용 (or_model 필드는 유지)\nif (!dead.includes('cerebras')) {\n  config.cerebras_model = 'llama3.1-8b';\n} else {\n  config.cerebras_model = dead.includes('or-gemini') ? 'stepfun/step-3.5-flash' : 'google/gemini-2.0-flash-lite-001';\n  // cerebras가 죽으면 cerebras_model을 fallback용 OR 모델로 덮어씌워\n  // 실제로는 getModelConfig()가 cerebras_model을 Cerebras API에만 쓰므로\n  // or_model/or_model_2 만 변경하는 것으로 충분\n  config.cerebras_model = 'llama3.1-8b'; // cerebras 자체 모델명은 고정\n}\n\nif (dead.includes('or-gemini') && !dead.includes('or-step')) {\n  config.or_model = 'stepfun/step-3.5-flash';\n} else if (!dead.includes('or-gemini')) {\n  config.or_model = 'google/gemini-2.0-flash-lite-001';\n} else {\n  config.or_model = 'openrouter/auto'; // 둘 다 죽으면 auto\n}\n\nif (dead.includes('or-step')) {\n  config.or_model_2 = 'openrouter/auto';\n} else {\n  config.or_model_2 = 'stepfun/step-3.5-flash';\n}\n\nreturn [{ json: { dead, config, needsUpdate: dead.length > 0, results } }];"},"id":"analyze","name":"Analyze & Decide","type":"n8n-nodes-base.code","typeVersion":2,"position":[660,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true},"conditions":[{"leftValue":"={{ $json.needsUpdate }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}]}},"id":"needs-update","name":"Needs Update?","type":"n8n-nodes-base.if","typeVersion":2,"position":[880,300]},{"parameters":{"method":"POST","url":"https://us-central1-career-aptitude-final.cloudfunctions.net/orchestratorUpdate","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","body":{"secret":"n8n-orch-2026","config":"={{ $json.config }}"},"options":{"timeout":10000}},"id":"update-config","name":"Update Orchestrator Config","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1100,200]},{"parameters":{"jsCode":"const dead = $json.dead;\nconst config = $json.config;\nconsole.log(`[AI Healthcheck] 모델 장애 감지: ${dead.join(', ')} → 폴백 적용:`, config);\nreturn [{ json: { status: 'switched', dead, config } }];"},"id":"log-switch","name":"Log Switch","type":"n8n-nodes-base.code","typeVersion":2,"position":[1320,200]},{"parameters":{"jsCode":"console.log('[AI Healthcheck] 모든 모델 정상 — 변경 없음');\nreturn [{ json: { status: 'all_healthy', checkedAt: new Date().toISOString() } }];"},"id":"log-healthy","name":"Log Healthy","type":"n8n-nodes-base.code","typeVersion":2,"position":[1100,420]}],"connections":{"Schedule Trigger":{"main":[[{"node":"Model List","type":"main","index":0}]]},"Model List":{"main":[[{"node":"Ping Request","type":"main","index":0}]]},"Ping Request":{"main":[[{"node":"Analyze & Decide","type":"main","index":0}]]},"Analyze & Decide":{"main":[[{"node":"Needs Update?","type":"main","index":0}]]},"Needs Update?":{"main":[[{"node":"Update Orchestrator Config","type":"main","index":0}],[{"node":"Log Healthy","type":"main","index":0}]]},"Update Orchestrator Config":{"main":[[{"node":"Log Switch","type":"main","index":0}]]}},"authors":"import","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[]}}